---
title: Talks
layout: page
published: true
---

<em>All of them are in Brazilian Portuguese</em>

{% assign pages_list = site.pages %}
{% for node in pages_list %}
	{% if node.title != null %}
    	{% if node.layout != null %}
			{% if node.layout == "talk" %}
			<hr />
        	<div class="talk">
              	<h4 class="post-title">
        	        <a href="{{ node.url }}">{{ node.title }}</a>
				</h4>
				<span class="talk-location">{{ node.location }}</span>
            	<span class="talk-date">{{ node.date | date: '%B %d, %Y' }}</span>
        	</div>
        	{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
