body {
  background-color: #FDFDFD;
}

.masthead-title small {
    float: right;
    line-height: 1.6em;
}

.sidebar {
	opacity: 0.9;
}

.sidebar:hover {
	opacity: 1;
}

.sidebar-logo {
	padding: 1.5rem;
}

.sidebar-item h2 {
	color: white;
}

.sidebar-logo img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	margin: 0 auto;
}

.page, .post {
  margin-bottom: 2em;
}

.post-content {
  text-align: justify;
}

.post-content img {
	margin: 0 auto;
	border: 1px solid rgb(245, 245, 245);
	padding: 40px;
}

.read-more {
  	overflow: hidden;
}

a.read-more-link {
    float: right;
    display: block;
    padding: 5px 10px;
    background-color: #303030;
    border-radius: 10px;
    color: #FFF;
    font-size: 80%;
}

a.read-more-link:hover {
    background-color: #515151;
    text-decoration: none;
}

a.read-more-link:after {
	content: ' \00BB';
}

.post-date {
	color: #CCC;
}
